app.yaml
ri_compras/__pycache__/*
ri_produccion/__pycache__/*
ri_home/__pycache__/*
ri_project/__pycache__/*
ri_compras/migrations/*
ri_produccion/migrations/*
ri_home/migrations/*
ri_project/migrations/*
pdfs/
pdfs-produccion/
abonos/
abonos_proveedores/
bancos/
cfdi_pdf/
comprobantes/
comprobantes_pago/
comprobantes_pago_residentes_practicantes/
DocumentosEmpleado/
facturas/
facturas_proveedores/
oc_po_pdf/
pdf_referencias/
PracticantesResidentes/
referencias/
CreditoPrestamoComprobante/
DocumentosRequisitos/
planos_pdfs/
referencias/
xml_cancelacion/
*sqlite3
.env
containers/*

